[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/uniswap-v2-periphery"]
	path = lib/uniswap-v2-periphery
	url = https://github.com/Uniswap/uniswap-v2-periphery
